<div class="jumbotron">
    <h1>Welcome to my site!</h1>
    <p>I'm a full stack web developer focusing on Javascript, Node and Ember.</p>
    <p>I'm using this site to post a few side projects and maintain my reading list with comments.</p>
    <p>If you are in need of a developper please feel free to contact me.</p>
</div>
